# Telegraf configuration

# For more information look at:
# https://github.com/influxdata/telegraf/blob/master/etc/telegraf.conf

# Use 'telegraf -config telegraf.toml -test' to see what metrics a config
# file would generate.

# NOTE: The configuration has a few required parameters. They are marked
# with 'required'. Be sure to edit those to make this configuration work.

[global_tags]
{% if telegraf_tags is defined and telegraf_tags != None %}
{% for key, value in telegraf_tags.items()%}
   {{ key }} = "{{ value }}"
{% endfor %}
{% endif %}
{% if telegraf_aws_tags == true and ec2_tags is defined and ec2_tags != None %}
{% for key, value in ec2_tags.tags.items()%}
   {{ telegraf_aws_tags_prefix }}{{ key }} = "{{ value }}"
{% endfor %}
{% endif %}

# Configuration for telegraf agent
[agent]
  interval = "{{ telegraf_agent_interval }}"
  round_interval = {{ telegraf_agent_round_interval }}
  metric_batch_size = {{ telegraf_agent_metric_batch_size }}
  metric_buffer_limit = {{ telegraf_agent_metric_buffer_limit }}
  collection_jitter = "{{ telegraf_agent_collection_jitter }}"
  flush_interval = "{{ telegraf_agent_flush_interval }}"
  flush_jitter = "{{ telegraf_agent_flush_jitter }}"
  precision = "{{ telegraf_agent_precision }}"
  debug = {{ telegraf_agent_debug | lower }}
  quiet = {{ telegraf_agent_quiet | lower }}
  logfile = "{{ telegraf_agent_logfile }}"
{% if telegraf_hostname is defined and telegraf_hostname != None %}
  hostname = "{{ telegraf_agent_hostname }}"
{% else %}
  hostname = "{{ ansible_hostname }}"
{% endif %}
  omit_hostname = {{ telegraf_agent_omit_hostname | lower }}

###############################################################################
#                                  OUTPUTS                                    #
###############################################################################

{% if telegraf_plugins_outputs is defined and telegraf_plugins_outputs is iterable %}
  {% for output in telegraf_plugins_outputs %}
    [[outputs.{{ output.name }}]]
    # Output config
    {% for option in output.options %}
        {{ option }}
    {% endfor %}
    # TagPass
    {% if output.tagpass is defined and output.tagpass is iterable %}
      [outputs.{{ output.type }}.tagpass]
      {% for items in output.tagpass %}
          {{ items }}
      {% endfor %}
    {% endif %}
    # TagDrop
    {% if output.tagdrop is defined and output.tagdrop is iterable %}
      [outputs.{{ output.type }}.tagdrop]
      {% for items in output.tagdrop %}
          {{ items }}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}



###############################################################################
#                                  INPUTS                                     #
###############################################################################
{% if telegraf_plugins_inputs is defined and telegraf_plugins_inputs is iterable %}
  {% for input in telegraf_plugins_inputs %}
    [[inputs.{{ input.name }}]]
    {% if input.interval is defined %}
        interval = "{{ input.interval }}s"
    {% endif %}
    {% if input.options is defined and input.options is iterable %}
      {% for option in input.options %}
          {{ option }}
      {% endfor %}
    {% endif %}
    {% if input.tags is defined and input.tags is iterable %}
      [inputs.{{ input.plugin }}.tags]
      {% for items in input.tags %}
          {{ items }}
      {% endfor %}
    {% endif %}
    {% if input.tagpass is defined and input.tagpass is iterable %}
      [inputs.{{ input.plugin }}.tagpass]
      {% for items in input.tagpass %}
          {{ items }}
      {% endfor %}
    {% endif %}
    {% if input.tagdrop is defined and input.tagdrop is iterable %}
      [inputs.{{ input.plugin }}.tagdrop]
      {% for items in input.tagdrop %}
          {{ items }}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}
